<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar navbar-dark stylish-color-dark fixed-top">
        <div class="container">
            <i class="fa fa-2x fa-subway trainclass"></i>
            <a class="navbar-brand railways-header" href="#">RAILWAYS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                        <a [routerLink]="['/']" class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item"  routerLinkActive="active">
                        <a [routerLink]="['/pnrstatus']" class="nav-link">PNR Status</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a [routerLink]="['/livestatus']" class="nav-link">Train Running Status</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Train Schedule</a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a [routerLink]="['/trainsbetween']" class="nav-link" >Trains Between</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Train Coach Position</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<router-outlet></router-outlet>

<!--Footer-->
<footer class="page-footer font-small stylish-color-dark pt-4 mt-4">

    <!--Footer Links-->
    <div class="container text-center text-md-left">

        <!-- Footer links -->
        <div class="row text-center text-md-left mt-3 pb-3">

            <!--First column-->
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Nandha Kumar</h6>
                <p>Freelance Developer and Software Engineer.</p>
            </div>
            <!--/.First column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Home</h6>
                <p><a href="#!">Your Account</a></p>
                <p><a href="#!">Become an Affiliate</a></p>
                <p><a href="#!">Shipping Rates</a></p>
                <p><a href="#!">Help</a></p>
            </div>
            <!--/.Second column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
                <p><a [routerLink]="['/pnrstatus']">PNR Status</a></p>
                <p><a [routerLink]="['/livestatus']">Live Status</a></p>
                <p><a [routerLink]="['/trainsbetween']">Trains Between</a></p>
                <p><a [routerLink]="['/']">Train Coach Position</a></p>
            </div>
            <!--/.Third column-->

            <hr class="w-100 clearfix d-md-none">

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                <p><i class="fa fa-home mr-3"></i> Chennai, TN, India</p>
                <p><i class="fa fa-envelope mr-3"></i> visitnandha95@gmail.com</p>
                <p><i class="fa fa-phone mr-3"></i>+91 9677386996</p>
            </div>
            <!--/.Fourth column-->

        </div>
        <!-- Footer links -->

        <hr>

        <div class="row py-3 d-flex align-items-center">

            <!--Grid column-->
            <div class="col-md-8 col-lg-8">

                <!--Copyright-->
                <p class="text-center text-md-left grey-text">© 2018 Copyright:Nandha Kumar</p>
                <!--/.Copyright-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 col-lg-4 ml-lg-0">

                <!--Social buttons-->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.twitter.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.googleplus.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-google-plus"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <!--/.Social buttons-->

            </div>
            <!--Grid column-->

        </div>

    </div>

</footer>
<!--/.Footer-->