<div class="topspace">

    <!--Section: Features v.4-->
    <section>

        <!--Section heading-->
        <h1 style="color:#6f42c1;" class="py-5 font-weight-bold text-center">INDIAN RAILWAYS</h1>
        <!--Section description-->
        <p class="px-5 mb-5 pb-3 lead text-center">Company provides all india tour package in association with Indian Railways at affordable price.</p>

        <!--Grid row-->
        <div class=" class_row">

            <!--Grid column-->
            <div class="col-md-4">

                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fa-gopuram deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">All India Tour</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fa-tripadvisor deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">Trip Guide</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fa-glass deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">Relaxing</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>
                <!--Grid row-->

            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4 mb-2 center-on-small-only flex-center">
                <img style="width: 300px;height: 350px;" src="assets/images/train.png" alt="" class="z-depth-0">
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-4">

                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fas fa-bed deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">Stay</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fas fa-utensils deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">Food</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row mb-2">
                    <div class="col-2">
                        <i class="fa fa-2x fa-magic deep-purple-text"></i>
                    </div>
                    <div class="col-10 text-left">
                        <h5 class="font-weight-bold">Magical</h5>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                    </div>
                </div>
                <!--Grid row-->

            </div>
            <!--Grid column-->

        </div>
        <!--Grid row-->

    </section>
    <!--/Section: Features v.4-->


    <!-- Page Content -->
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">What is PNR status?</h1>
                <p class="lead text-justify"><i class="fa">&#xf0a4;</i> PNR is short name for 'Passenger Name Record'. It is a record in the database of Indian Railways computer reservation system (IR-CRS) against which journey details for a passenger, or a group of passengers are saved. <br><br>
                    <i class="fa">&#xf0a4;</i> To be specific, whena reserved railway ticket is booked for a train in Indian Railways, all the details of passengers are stored in relational database of centralized reservation system. These details are associated with a unique ten digit number. This referencenumber is called PNR and it is printed on the ticket.<br><br> 
                    <i class="fa">&#xf0a4;</i> Passenger's personal information like name, age, gender etc. is saved in the database against this reference number. It includes columns to store booking status and current status of the ticket.<br><br>
                    <i class="fa">&#xf0a4;</i> As we know every train has limited number of seats, sometime one may not get a confirmed reserved ticket. Booking status of such waitlist (W/L) ticket changes when there is any availability of reserved seats due to cancellation. This new current reservation status is generally known as PNR status.
                </p>
            </div>
        </div>
    </div> -->
</div>