<div class="class_row row justify-content-center">
    <div class="col-sm-6">
        <section class="form-simple">
            <!--Form with header-->
            <div class="card topspace">
                <!--Header-->
                <div class="header pt-3 grey lighten-2">
                    <div class="row d-flex justify-content-start">
                        <h3 class="deep-grey-text mt-3 mb-4 pb-1 mx-5">Trains between two station</h3>
                    </div>
                </div>
                <!--Header-->
                <div class="card-body mx-4 mt-4">
                    <form>
                        <!--Body-->
                        <div>
                        	<label style="padding-left: 5px;">Source Station:</label>
                        	<select class="mdb-select" id="sourcestation" style="width: 99%">
                        		<option></option>
                        	</select>
                        </div>

                        <div class="selectspace">
                        	<label style="padding-left: 5px;">Destinaton Station:</label>
                        	<select class="mdb-select" id="destinationstation" style="width: 99%">
                        		<option></option>
                        	</select>
                        </div>

                        <div class="selectspace">
                        	<label style="padding-left: 5px;">Choose a date:</label>
                        	<ng-datepicker style="width: 100% !important" [(ngModel)]="date" name="date" [options]="options">
                        	</ng-datepicker>
                        </div>
                      
                        <div class="text-center mb-4 selectspace">
                            <button type="submit" class="btn btn-default btn-block z-depth-2" (click)="stationdetails()">Get Status</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--/Form with header-->
        </section>
    </div>
</div>

<!--Table-->
<table *ngIf="!show" class="table table-bordered tabletopspace">

    <!--Table head-->
    <thead>
        <tr>
            <th>TrainName/Train Number</th>
            <th>Departure Time/Arrival Time</th>
            <th>Travel Time</th>
            <th>Days Running</th>
        </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody *ngFor="let tb of trainsbetween">
        <tr>
            <td>{{tb.number}}{{tb.name}}</td>
            <td>{{tb.src_departure_time}}{{tb.dest_arrival_time}}</td>
            <td>{{tb.travel_time}}</td>
      		<td>
		        <ul class="list-group">
		        	<ng-container *ngFor="let tbd of tb.days">
		        		<li class="list-group-item" *ngIf="tbd?.runs =='Y'">{{tbd.code}}</li>
		        	</ng-container>
		        </ul>
		    </td>
        </tr>
    </tbody>
    <!--Table body-->

</table>
<!--Table-->